#qtk_flagship_menu {
  padding: 5px;
}
#qtk_flagship_menu .username-wrap {
  position: relative;
}
#qtk_flagship_menu .username-wrap .username {
  font-size: 16px;
}
#qtk_flagship_menu .username-wrap .invalid-date {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 1px;
  font-size: 16px;
  color: #ff6600;
}
#qtk_flagship_menu .menu {
  list-style: none;
  border-top: 1px solid #ccc;
  margin-top: 6px;
}
#qtk_flagship_menu .menu li {
  list-style: none;
  font-size: 16px;
  line-height: 36px;
  cursor: pointer;
}
#qtk_flagship_menu .menu li:hover {
  color: #f40;
  text-decoration: underline;
}
#qtk_flagship_collect_config .config-wrap {
  padding: 10px;
}
#qtk_flagship_collect_config .config-wrap .line {
  line-height: 40px;
  font-size: 16px;
  padding-left: 42px;
}
#qtk_flagship_collect_config .config-wrap .line #qtk_flagship_collect_commission {
  width: 30px;
  margin-left: 5px;
  text-align: center;
}
#qtk_flagship_collect_config .config-wrap .line .page-count {
  margin-left: 68px;
}
#qtk_flagship_collect_config .config-wrap .line #qtk_flagship_collect_page {
  width: 60px;
  margin-left: 5px;
  text-align: center;
}
#qtk_flagship_collect_config .config-wrap .line #qtk_flagship_collect_level {
  margin-left: 5px;
}
#qtk_flagship_collect_config .config-wrap .line .dsr {
  margin-left: 114px;
}
#qtk_flagship_collect_config .config-wrap .line #qtk_flagship_collect_dsr {
  width: 30px;
  margin-left: 11px;
  text-align: center;
}
#qtk_flagship_collect_config .config-wrap .line #qtk_flagship_collect_start {
  border: none;
  background-color: #ff6600;
  color: #fff;
  padding: 5px 30px;
  cursor: pointer;
  margin-left: 200px;
  margin-top: 15px;
}
div.layui-layer .layui-layer-setwin a.layui-layer-close {
  background-position: 0 -40px;
}
#qtk_flagship_collect_logs .qtk-log-wrap {
  padding: 10px;
  font-size: 16px;
}
#qtk_flagship_collect_logs .qtk-log-wrap .status .filtered-num {
  color: #f40;
  font-weight: bold;
  font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  padding: 0 5px;
}
#qtk_flagship_collect_logs .qtk-log-wrap p {
  line-height: 30px;
  white-space: nowrap;
}
#qtk_flagship_collect_logs .qtk-log-wrap p:nth-child(5n) {
  margin-bottom: 25px;
}
#qtk_flagship_collect_logs .qtk-log-wrap .be-filtered {
  text-decoration: line-through;
}
#qtk_flagship_collect_logs .qtk-log-wrap .success .commission {
  font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  color: #ff6600;
  font-weight: bold;
}
