#qtk_flagship_apply_reason {
  padding: 10px;
}
#qtk_flagship_apply_reason .title {
  font-size: 26px;
}
#qtk_flagship_apply_reason .reason-bar {
  margin-top: 20px;
}
#qtk_flagship_apply_reason .reason-bar textarea {
  width: 100%;
  height: 150px;
}
#qtk_flagship_apply_reason .apply-button {
  margin-top: 20px;
  text-align: right;
}
#qtk_flagship_apply_reason .apply-button #apply-campaign-button {
  color: #fff;
  border: none;
  background-color: #ff6600;
  font-size: 16px;
  padding: 8px 35px;
  cursor: pointer;
}
#qtk_flagship_apply_logs .qtk-log-wrap {
  padding: 10px;
  font-size: 16px;
}
#qtk_flagship_apply_logs .qtk-log-wrap .status .filtered-num {
  color: #f40;
  font-weight: bold;
  font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
  padding: 0 5px;
}
#qtk_flagship_apply_logs .qtk-log-wrap p {
  line-height: 30px;
}
#qtk_flagship_apply_logs .qtk-log-wrap p:nth-child(5n) {
  margin-bottom: 25px;
}
#qtk_flagship_apply_logs .qtk-log-wrap p .item-number {
  padding: 0 5px;
}
#qtk_flagship_apply_logs .qtk-log-wrap .be-filtered {
  text-decoration: line-through;
}
.webLinkList {
  margin-top: 20px;
}
.webLinkList .selectRadioDiv {
  border: 1px dashed #ff6600;
  max-width: 400px;
  text-align: center;
  margin-top: 12px;
  display: block;
  padding: 5px 0;
  cursor: pointer;
}
.webLinkList .selectRadioDiv .alias {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  padding: 0 10px;
  min-width: 50px;
}
.webLinkList .selectRadioDiv .pid {
  font-style: normal;
  font-family: Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
}
.webLinkList .selectRadioDiv:hover {
  border: 1px dotted #F38A45;
  background-color: #F38A45;
  color: #FFFFFF;
}
.webLinkList .selected {
  border: 1px dotted #F38A45;
  background-color: #F38A45;
  color: #FFFFFF;
}
div.layui-layer .layui-layer-setwin a.layui-layer-close {
  background-position: 0px -40px;
}
