a[rel~="nofollow"], a[rel~="nofollow"] *
{
	outline:.2em dotted #ff0000 !important;
	outline-offset:.2em;
}
a[rel~="nofollow"] img
{
	outline:thin dotted #ff0000 !important;
	outline-offset:.2em;
}
