body{font-size:12px;}
.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear{zoom:1;}
hr{opacity:0.3;}
a{color:blue;}
a:hover{color:red;}

input{vertical-align:-3px;}
fieldset{line-height:30px; width:800px; margin:auto auto 15px; border-radius: 3px; padding:0px 10px 8px;}
legend{font-weight:bold; color:#0000ff}