body{margin:0px;}
td{font-size:12px;}

#se_wrapper{border-radius:5px; color:#FFFF00; font-size:12px; margin:0px; background:#333; line-height:22px; overflow:hidden;font-size:12px; font-family:verdana; text-align:left !important; z-index:1111109; width:auto;}
#se_wrapper a{margin:0px 2px;}
#se_wrapper a:hover{color:red;}
#se_wrapper_inner{margin:5px 8px 5px 8px;} 
#se_wrapper a{color:#fff; font-style:normal; margin:auto 3px; text-decoration:none; background:#333;} 
#se_wrapper *{color:#FFFF00; padding:0px; border:0px; background:#333; line-height:22px; font-weight:normal; font-style:normal;}

#se_config_link{position:absolute; right:1px; top:0px;}
a#se_config_link{color:red; font-weight:bold;}