#Layer1 {
    height: 100%;
    width: 500px;
    border: 2px solid #999;
	background:#FFF;
}
#Layer1 #win_top {
    height: 30px;
    width: 500px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
    line-height: 30px;
    color: #666;
    font-family: "微软雅黑", Verdana, sans-serif, "宋体";
    font-weight: bold;
    text-indent: 1em;
}



#Layer1 #text1 {
    vertical-align: middle;
    font-size: 30px;
    color: #c40000;
    font-weight: bolder;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
}
#Layer1 #text2 {
    vertical-align: middle;
    font-weight: bolder;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
}
#Layer1 #text3{
    vertical-align: middle;
    font-weight: bolder;
    font-family: Arial;
	color: #999;
    -webkit-font-smoothing: antialiased;
}
#Layer1 #text4{
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(255, 102, 0);
    color: rgb(255, 255, 255);
    line-height: 24px;
    display: inline-block;
	float: right;
    padding: 5px 0px;
    width: 55px;
    height: 20px;
}
#Layer1 #text5{
    padding: 5px 5px 5px 5px;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    background-color: #c40000;
}
#Layer1 #text6 {
    vertical-align: middle;
    color: #c40000;
    font-weight: bolder;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
	padding: 5px 5px 5px 5px;
}
#Layer1 #text7{
    padding: 5px 5px 5px 5px;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    background-color: rgb(255, 102, 0);
}
#Layer1 #text8{
    /* float: left; */
    overflow: hidden;
    /* position: relative; */
    /* width: 160px; */
    /* height: 30px; */
    /* line-height: 30px; */
    background-color: #ffeded;
    border: 1px solid #c40000;
    color: #c40000;
    font-family: 'Microsoft Yahei';
    font-size: 15px;
    text-align: center;
}
#Layer1 #div1{
    padding: 5px 5px 5px 5px;
}


#table{
	background-color:#fff;
	border:none;
	color:#565;
	font:12px arial;
	text-align:left;
	width:100%;
}
#table caption {
	font-size:20px;
	border-bottom:2px solid #b3de94;
}
#table td,#table th{
 margin:0;
 padding:0;
 vertical-align:middle;
}
#table tbody td, #table tbody th{
 background-color:#dfc;
 border-bottom:2px solid #b3de94;
 border-top:1px solid #fff;
 padding:3px;
}
#table tfoot td, #table tfoot th{
 font-weight:bold;
 padding:4px 8px 6px 9px;
 text-align:center;
}
#table thead th{
 font-size:14px;
 font-weight:bold;
 line-height:19px;
 padding:0 8px 2px;
 text-align:center;
}
#table tbody tr.even th,#table tbody tr.even td{
 background-color:#cea;
 border-bottom:2px solid #67bd2a;
}