<style type="text/css" id="ruyitao-selector-prefix-like-button-style" class="ruyitao-selector-prefix-stylesheet">
#ruyitao-selector-prefix-popup-intro-wrapper {
  height: 100px;
  width: 100%;
  background: #1e90ff;
  color: white;
  font-size: 12px;
  font-family: "微软雅黑", "Microsoft YaHei", "宋体", Verdana, Geneva, sans-serif;
  text-align: left;
  position: fixed;
  z-index: 2147483647 !important;
  top: -100px;
  overflow: hidden;
  -webkit-transition: top .2s ease-in-out;
  -moz-transition: top .2s ease-in-out;
  -o-transition: top .2s ease-in-out;
  -ms-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}

#ruyitao-selector-prefix-popup-intro-content {
  margin: 0 auto;
  min-width: 825px;
  max-width: 1020px;
  padding: 0 20px;
}

#ruyitao-selector-prefix-pi-text {
  float: left;
  width: 325px;
  padding-top: 13px;
}

#ruyitao-selector-prefix-pi-text h1 {
  margin-bottom: 5px;
  font-size: 18px;
}

#ruyitao-selector-prefix-pi-text div {
  line-height: 22px;
}

.ruyitao-selector-prefix-pi-ivy-settings {
  text-decoration: underline !important;
  color: #ecd53a !important;
  margin-left: 20px;
}

#ruyitao-selector-prefix-pi-image {
  float: right;
  width: 493px;
  height: 100px;
  background: url(%chrome-extension%assets/images/products/popup-intro.png) no-repeat 0 0;
}

#ruyitao-selector-prefix-pi-close {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: url(%chrome-extension%assets/images/products/x-white.png) no-repeat 0 0;
}
</style>
<div id="ruyitao-selector-prefix-popup-intro-wrapper">
  <div id="ruyitao-selector-prefix-popup-intro-content">
    <div id="ruyitao-selector-prefix-pi-text">
      <h1>如意淘 - 心愿单</h1>
      <div>点击页面内的想买按钮，</div>
      <div><span>商品降价时，就能马上收到提醒。</span><a class="ruyitao-selector-prefix-pi-ivy-settings" target="_blank" href="http://ruyi.taobao.com/my/settings?utm_medium=ext&utm_source=ruyi">设置降价提醒幅度</a></div>
    </div>
    <div id="ruyitao-selector-prefix-pi-image"></div>
  </div>
  <div id="ruyitao-selector-prefix-pi-close"></div>
</div>
