<style type="text/css" id="ruyitao-selector-prefix-like-button-tips" class="ruyitao-selector-prefix-stylesheet">
	.ruyitao-selector-prefix-tips {
			border-radius:2px;
			box-shadow:0 0 7px rgba(0,0,0,0.4);
			position:absolute;
			top:376px;
			left:404px;
			margin-bottom:100px;
			background:#fff;
			z-index:2147483647;
			display:none;
			font:14px/1.5 arial,\5b8b\4f53,sans-serif;
	}
	
	.ruyitao-selector-prefix-tips .ruyitao-selector-prefix-tips-content {}

    .ruyitao-selector-prefix-tips .ruyitao-selector-prefix-cur {
        background:#fff;
        position:absolute;
        height:8px;
		width:8px;
        margin-left:-3px;
        -webkit-transform:rotate(45deg);
		transform:rotate(45deg);
		left:20%;
    }
	
	.ruyitao-selector-prefix-tips.ruyitao-selector-prefix-top .ruyitao-selector-prefix-cur {
		box-shadow : -1px -1px 2px rgba(0, 0, 0,0.4);
        top:-5px;    
	}
	
	.ruyitao-selector-prefix-tips.ruyitao-selector-prefix-bottom .ruyitao-selector-prefix-cur {
        bottom:-5px;
		box-shadow : 1px 1px 2px rgba(0, 0, 0,0.4);
	}
	
	.ruyitao-selector-prefix-tips.ruyitao-selector-prefix-middle .ruyitao-selector-prefix-cur{
		left:50%;
	}
	
	.ruyitao-selector-prefix-close {
		font-style:normal;
		font-size:22px;
		position:relative;
		top:4px;
	}
	
	.ruyitao-selector-prefix-want-tips {
		width:182px;
		padding:20px;
		font-size:14px;
	}
	
	.ruyitao-selector-prefix-want-tips .ruyitao-selector-prefix-known {
		text-decoration:none;
		font-size:12px;
		color:#999;
		float:right;	
		position:relative;
		top:7px;
	}
	
	.ruyitao-selector-prefix-tips-content {
		overflow:hidden;
	}
	
	.ruyitao-selector-prefix-known:hover {
		color:#1e90ff;
	}
</style>

<div class="ruyitao-selector-prefix-tips ruyitao-selector-prefix-top ruyitao-selector-prefix-want-tips">
		<div class="ruyitao-selector-prefix-cur"></div>
		<div class="ruyitao-selector-prefix-tips-content">
		加到我的收藏，订阅降价提 醒还能拿返利！ 
		<a class="ruyitao-selector-prefix-known" href="#">我知道了<i class="ruyitao-selector-prefix-close">×</i></a>
	</div>
</div>
