<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>如意淘</title>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>
    <link rel="stylesheet" href="../assets/css/popup.css" />
  </head>
  <body>
    <div id="ruyitao-selector-prefix-toolbar" class="ruyitao-selector-prefix-toolbar-i18n-zh">
      <div class="ruyitao-selector-prefix-toolbar-header">
	    <span class="ruyitao-selector-prefix-logo-wrapper">
           <i id="ruyitao-selector-prefix-toolbar-logo" class="ruyitao-selector-prefix-toolbar-logo ruyitao-selector-prefix-toolbar-img"></i>
		   <i id="ruyitao-selector-prefix-toolbar-powerby" class="ruyitao-selector-prefix-toolbar-powerby ruyitao-selector-prefix-toolbar-img"></i>
	    </span>
        <span id="ruyitao-selector-prefix-toolbar-logout" class="ruyitao-selector-prefix-toolbar-logout ruyitao-selector-prefix-logedin-view">退出</span>
        <span id="ruyitao-selector-prefix-toolbar-username" class="ruyitao-selector-prefix-logedin-view"></span>
        <span id="ruyitao-selector-prefox-toolbar-ivy-home" class="ruyitao-selector-prefix-logedin-view"><span class="ruyitao-selector-prefox-toolbar-ivy-home-icon"></span><span>我想买的</span></span>
        <ul id="ruyitao-selector-prefix-navbar" class="ruyitao-selector-prefix-logedin-view">
          <li id="nav-search">搜索</li>
          <li id="nav-detail" class="hidden">商品</li>
        </ul>
      </div>
      <div id="ruyitao-selector-prefix-ivy-intro-wrapper" class="ruyitao-selector-prefix-unlogedin-view">
        <div id="ruyitao-selector-prefix-ivy-intro-content">
          <h3>欢迎使用如意淘的心愿单功能</h3>
          <p>自动导入淘宝收藏夹</p>
          <p>一键添加全网想买商品</p>
          <p>设定折扣立即提醒</p>
          <div id="ruyitao-selector-prefix-ivy-login-button">马上登录</div>
        </div>
      </div>
      <div id="ruyitao-selector-prefix-search-view">
      <div class="ruyitao-selector-prefix-toolbar-searchbox">
        <input id="ruyitao-selector-prefix-toolbar-searchbox-text" type="text" class="ruyitao-selector-prefix-toolbar-searchbox-text" autocomplete="off" value="" rel="i18n[input_message]" /><span id="ruyitao-selector-prefix-toolbar-searchbox-close" class="ruyitao-selector-prefix-toolbar-searchbox-close ruyitao-selector-prefix-toolbar-img"></span><a id="ruyitao-selector-prefix-toolbar-searchbox-button" href="javascript:void(0)" hidefocus="true" class="ruyitao-selector-prefix-toolbar-searchbox-button ruyitao-selector-prefix-toolbar-img" rel="i18n[search_btn]"></a>
      </div>
      
      <!-- history container -->
      <div id="ruyitao-selector-prefix-toolbar-history">
        <!-- history -->
        <div id="ruyitao-selector-prefix-toolbar-history-search" class="ruyitao-selector-prefix-product-container">
          <h3><span rel="i18n[search_history]">搜索历史</span><span id="ruyitao-selector-prefix-toolbar-history-clear" class="ruyitao-selector-prefix-toolbar-history-clear" rel="i18n[search_history_clear]" i18n="title:search_history_clear_title" title="清除历史">清除</span></h3>
          <ul class="ruyitao-selector-prefix-product-list">
          </ul>
        </div>
        
        <div id="ruyitao-selector-prefix-toolbar-popular-search" class="ruyitao-selector-prefix-product-container">
          <h3 rel="i18n[popular_search]">热门搜索</h3>
          <ul class="ruyitao-selector-prefix-product-list">
          </ul>
        </div>
        
        <div id="ruyitao-selector-prefix-toolbar-view-history" class="ruyitao-selector-prefix-product-container">
          <h3 rel="i18n[view_history]">浏览过的商品</h3>
          <ul class="ruyitao-selector-prefix-product-list">
            <li class="ruyitao-selector-prefix-product-item">
              <span class="ruyitao-selector-prefix-product-image-wrapper"><img class="ruyitao-selector-prefix-product-image" src="http://img01.taobaocdn.com/bao/uploaded/T1aVHiXcJdXXb1upjX_80x80.jpg"><b class="ruyitao-selector-prefix-line-height-setter"></b></span>
              
            </li>
          </ul>
        </div>
      </div>
      
      <!-- search result -->
      <div id="ruyitao-selector-prefix-toolbar-searchresult">
        <div class="ruyitao-selector-prefix-shop-container">
          <ul>
          </ul>
          <div class="ruyitao-selector-prefix-shop-cursor"></div>
        </div>
        <div class="ruyitao-selector-prefix-product-container ruyitao-selector-prefix-product-container-searchresult">
          <a href="javascript:void(0)" class="ruyitao-selector-prefix-page-prev"></a>
          <a href="javascript:void(0)" class="ruyitao-selector-prefix-page-next"></a>
          <ul class="ruyitao-selector-prefix-product-list">
          </ul>
          <div class="ruyitao-selector-prefix-nodata-box" rel="i18n[no_results]">抱歉，未找到结果！</div>
        </div>
      </div>
      
      <!-- suggestion -->
      <div id="ruyitao-selector-prefix-suggestion-box" class="ruyitao-selector-prefix-suggestion">
      </div>
      </div>
      <div id="ruyitao-selector-prefix-detail-wrapper">
        <div class="ruyitao-selector-prefix-basic-info">
          <div id="ruyitao-selector-prefix-added-to-want-tip" style='display:none'>
            <span>已经加入到想买</span><span id="ruyitao-selector-prefix-cancel-from-want">取消</span>
          </div>
          <div id="ruyitao-selector-prefix-photo"><a id="ruyitao-selector-prefix-photo-btn" href="javascript:void(0)" target="_blank"><img alt="photo"/><b class="ruyitao-selector-prefix-line-height-setter"></b></a></div>
          <div class="ruyitao-selector-prefix-title-and-price">
            <div id="ruyitao-selector-prefix-title"><a id="ruyitao-selector-prefix-title-btn" href="javascript:void(0)" target="_blank"></a></div>
            <div id="ruyitao-selector-prefix-shopname"></div>
            <div id="ruyitao-selector-prefix-price"></div>
          </div>
          <div class="ruyitao-selector-prefix-buy-btns">
            <a id="ruyitao-selector-prefix-buy-btn" target="_blank"></a>
            <a id="ruyitao-selector-prefix-toolbar-ivy-want-btn"></a>
            <span id="ruyitao-selector-prefix-toolbar-ivy-wants-text"></span>
          </div>
          <div id="ruyitao-selector-prefix-price-curve-wrapper">
            <h3>价格走向</h3>
            <div id="ruyitao-selector-prefix-price-curve"></div>
            <div id="ruyitao-selector-prefix-pc-price-info"></div>
          </div>
        </div>
        <div id="ruyitao-selector-prefix-price-comparation-wrapper">
          <div id="ruyitao-selector-prefix-tags-wrapper">
            <h3>主题</h3>
            <ul id="ruyitao-selector-prefix-tag-list"></ul>
            <a id="ruyitao-selector-prefix-search-tags-in-etao" target="_blank">找相似</a>
          </div>
          <h3 style="margin-left: 10px;">参考报价</h3>
          <ul id="ruyitao-selector-prefix-comparation-prices"></ul>
          <div id="ruyitao-selector-prefix-no-price-comparation-info">暂无比价信息</div>
          <div id="ruyitao-selector-prefix-other-links">
            <a id="ruyitao-selector-prefix-more-results-link" target="_blank">更多</a>
            <!-- <a id="ruyitao-selector-prefix-report-bug-link" target="_blank">纠错</a> -->
          </div>
        </div>
      </div>
    </div>
<span id="test-links" class="test" style="display:none;"></span>
<script src="../assets/js/jquery-1.7.1.min.js"></script>
<script src="popup.js?version=3.5"></script>
  </body>
</html>
