<style type="text/css" id="ruyitao-selector-prefix-price-curve-style" class="ruyitao-selector-prefix-stylesheet ruyitao-selector-prefix-price-curve-protection">
#ruyitao-selector-prefix-price-curve {
  position: absolute;
  top: -100000px;
  left: -100000px;
  z-index: 2147483647 !important;
  font: 12px/1.5 '微软雅黑', 'Microsoft YaHei', Arial, Verdana, Tahoma, sans-serif,'宋体';
  width: 368px;
  height: 145px;
  border: 2px solid #a9d4fa;
  cursor: default;
  /*-webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  -o-transition: height .5s ease-in-out;
  -ms-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;*/
  -webkit-user-select: none;
  background-color: white;
}

.ruyitao-selector-prefix-price-curve-no-data {
  
}

#ruyitao-selector-prefix-price-curve-plot {
  margin-left: 10px;
  margin-top: 18px;
  width: 280px;
  height: 115px;
  float: left;
  clear: both;
}

#ruyitao-selector-prefix-price-curve-tip {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #b89a7b;
  border-radius: 2px;
  background: #f3ddac;
  background: -webkit-linear-gradient(top, #f7e8c6, #f3ddac);
  background: -moz-linear-gradient(top, #f7e8c6, #f3ddac);
  background: -ms-linear-gradient(top, #f7e8c6, #f3ddac);
  background: -o-linear-gradient(top, #f7e8c6, #f3ddac);
  background: linear-gradient(180deg, #f7e8c6, #f3ddac);
  background: #f3ddac\9;
  box-shadow: 1px 1px 2px #aaa;
  padding: 5px 8px;
  color: black;
  text-shadow: 1px 1px white;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  z-index: 2147483647 !important;
  opacity: 0;
  display:none\9;
  zoom: 1;
}

.ruyitao-selector-prefix-tip-visible {
  opacity: 0.9 !important;
  display:block !important;
}

#ruyitao-selector-prefix-price-curve-arrow-down {
  position: absolute;
  bottom: -5px;
  background: transparent url(%chrome-extension%assets/images/price-curve/arrow-down.png) left top no-repeat;
  -background: transparent url(%chrome-extension%assets/images/price-curve/arrow-down-8bit.png) left top no-repeat;
  width: 8px;
  height: 5px;
  overflow: hidden;
}
#price_feature_div {
  height: auto !important;
}

.ruyitao-selector-prefix-highest-price {
  color: #e7333e;
  margin-bottom: 5px;
  display: block;
}

.ruyitao-selector-prefix-lowest-price {
  color: #090;
  display: block;
}

/*.ruyitao-selector-prefix-follow-price {
  display: inline-block;
  width: 59px;
  height: 23px;
  overflow: hidden;
  background: transparent url(%chrome-extension%assets/images/price-curve/follow.png) 0 0 no-repeat;
  _background: transparent url(%chrome-extension%assets/images/price-curve/follow-8bit.png) 0 0 no-repeat;
}
.ruyitao-selector-prefix-follow-price:hover {
  background-position: 0 -23px;
}
.ruyitao-selector-prefix-follow-price:active {
  background-position: 0 -46px;
}*/

#ruyitao-selector-prefix-pc-price-info {
  font-size: 12px;
  margin-top: 26px;
  text-align: center;
}

#ruyitao-selector-prefix-no-price-history-info {
  display: none;
  color: #999;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 60px;
  clear: both;
}
/* 解决国美overlay样式冲突  */
#ruyitao-selector-prefix-price-curve-plot .overlay {
  background: none;
  opacity: 0;
}


#ruyitao-selector-prefix-price-curve #ruyitao-selector-prefix-price-curve-arrow {
  display: block;
  width: 8px;
  height: 4px;
  background-position: -82px -33px;
  position: absolute;
  top: -6px;
  right: 34px;
  overflow:hidden;
}
</style>
<div id="ruyitao-selector-prefix-price-curve" class="ruyitao-selector-prefix-price-curve-protection">
  <span id="ruyitao-selector-prefix-price-curve-arrow" class="ruyitao-selector-prefix-like-button-img"></span>
  <div id="ruyitao-selector-prefix-no-price-history-info">暂无历史数据</div>
  <div id="ruyitao-selector-prefix-price-curve-plot"></div>
  <div id="ruyitao-selector-prefix-pc-price-info"></div>
</div>
