<style type="text/css">
#ruyitao-selector-prefix-pamb-wrapper {
  width: 300px;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑", "Microsoft YaHei", "宋体", Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #000;
  background: white;

  position: fixed;
  right: 0;
  bottom: -1000px;
  border: 1px solid #76a0b8;
  z-index: 2147483647 !important;
  border-radius: 3px;

  -webkit-transition: bottom .3s ease-in-out;
  -moz-transition: bottom .3s ease-in-out;
  -o-transition: bottom .3s ease-in-out;
  -ms-transition: bottom .3s ease-in-out;
  transition: bottom .3s ease-in-out;
}

#ruyitao-selector-prefix-pamb-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#ruyitao-selector-prefix-pamb-wrapper img {
  border: none;
  margin: 0;
  padding: 0;
}

.ruyitao-selector-prefix-pamb-header {
  height: 25px;
  padding: 5px 12px 0 12px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.ruyitao-selector-prefix-pamb-header h1 {
  float: left;
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  line-height: normal !important;
  color: #111;
}

#ruyitao-selector-prefix-pamb-close {
  float: right;
  /*margin-top: 6px;*/
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.ruyitao-selector-prefix-pamb-footer {
  height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

.ruyitao-selector-prefix-pamb-message {
  margin: 0;
  height: 82px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.ruyitao-selector-prefix-pamb-message:hover {
  background: #eeefff;
}

.ruyitao-selector-prefix-pamb-product-img {
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 0;
}

.ruyitao-selector-prefix-pamb-product-img img {
  max-width: 80px;
  max-height: 80px;
  vertical-align: middle;
}

.ruyitao-selector-prefix-pamb-product-info {
  float: right;
  width: 185px;
  text-align: left !important;
}

.ruyitao-selector-prefix-pamb-product-title {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}

.ruyitao-selector-prefix-pamb-current-price-wrap {
  height: 20px;
  margin: 3px 0;
  color: #666;
}

.ruyitao-selector-prefix-pamb-current-price {
  color: #ce0000;
  font-size: 14px;
  margin-left: 8px;
}

.ruyitao-selector-prefix-pamb-price-reduction-wrap {
  color: #f0972d;
}

#ruyitao-selector-prefix-pamb-settings {
  float: left;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

#ruyitao-selector-prefix-pamb-check-all-messages {
  float: right;
  text-decoration: underline;
  color: #f0972d;
  cursor: pointer;
}
</style>
<div id="ruyitao-selector-prefix-pamb-wrapper">
  <div class="ruyitao-selector-prefix-pamb-header">
    <h1>如意淘 - 降价提醒</h1><div id="ruyitao-selector-prefix-pamb-close">X</div>
  </div>
  <div class="ruyitao-selector-prefix-pamb-content">
    <ul id="ruyitao-selector-prefix-pamb-messages"></ul>
  </div>
  <div class="ruyitao-selector-prefix-pamb-footer">
    <a id="ruyitao-selector-prefix-pamb-settings" target="_blank" href="http://ruyi.taobao.com/my/settings?utm_medium=ext&utm_source=ruyi">设置</a>
    <a id="ruyitao-selector-prefix-pamb-check-all-messages"target="_blank" href="http://ruyi.taobao.com/my/price-alert?utm_medium=ext&utm_source=ruyi">查看全部</a>
  </div>
</div>
