<style type="text/css" class="ruyitao-selector-prefix-stylesheet ruyitao-selector-prefix-products-protection">
#ruyitao-selector-prefix-price-alert-settings-link-wrapper {
  font-family: "微软雅黑", "Microsoft YaHei", "宋体", Verdana, Geneva, sans-serif;
  float: right;
  color: #24bef7;
  font-size: 14px;
  height: 21px;
  line-height: 21px;
  cursor: pointer;
}

#ruyitao-selector-prefix-price-alert-settings-link-wrapper span {
  vertical-align: middle;
}

.ruyitao-selector-prefix-logo-icon {
  display: inline-block;
  width: 12px;
  height: 18px;
  margin-right: 4px;
  background: url(%chrome-extension%assets/images/ivy-button-icon.png) no-repeat -4px -2px;
}

/* 旧版我的淘宝中我的收藏的样式 fix */
#tab #ruyitao-selector-prefix-price-alert-settings-link-wrapper {
  float: none;
  top: 6px;
  right: 0;
  position: absolute;
  z-index: 200;
}

/*京东我的关注的样式 fix*/
.main .right .o-mt #ruyitao-selector-prefix-price-alert-settings-link-wrapper {
  margin: 6px 10px;
}

/* 淘宝购物车样式 fix*/
.operations #ruyitao-selector-prefix-price-alert-settings-link-wrapper {
  margin: 13px 25px;
  font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
  color: #666;
  font-size: 12px;
}

.operations .ruyitao-selector-prefix-logo-icon {
  display: none;
}
</style>
<div id="ruyitao-selector-prefix-price-alert-settings-link-wrapper">
  <span class="ruyitao-selector-prefix-logo-icon"></span><span>设置降价提醒</span>
</div>